<!doctype html>
<html lang="en" ng-app="squareApp">
<head>
	<meta charset="utf-8">
</head>
<body>

<div ng-controller="NewsFeed as newsFeed">
	<div class="toolbar">
		<button ng-click="newsFeed.setSortKey('created')">date</button>
		<button ng-click="newsFeed.setSortKey('actions.total')">actions</button>
		<button ng-click="newsFeed.setSortKey('actions.favorites')">favorites</button>
		<button ng-click="newsFeed.setSortKey('actions.retweets')">retweets</button>
		<hr />
		<span>news count: {{newsFeed.data.length}}</span>
		<span>sorting by: {{newsFeed.sortKey}}</span>
		<hr />
	</div>
	<div ng-repeat="update in newsFeed.data | orderBy:newsFeed.sortKey">
		<div class="header">
			<span class="author">@{{update.user.screen_name}}</span>
			<span class="date">{{update.created}}</span>
		</div>
		<div class="body">
			<h3>{{update.text}}</h3>
		</div>
		<div class="footer">

			<span class="counter">&#9733; {{update.actions.total}}</span>
			<span class="counter">&#10084; {{update.actions.favorites}}</span>
			<span class="counter">&#8644; {{update.actions.retweets}}</span>
		</div>
		<hr />
	</div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>

<script src="app/news-feed/news-feed.module.js"></script>
<script src="app/news-feed/news-feed.ctrl.js"></script>

<script src="app/square.app.js"></script>


</body>
</html>